:root {
    --color-black: #000000;
    --color-black-90: rgba(0,0,0,0.9);
    --color-dark: rgba(70, 70, 70, 0.9);
    --color-primary: #665949;
    --color-accent: #2b2620;
    --color-light: rgb(134, 130, 126);
    --color-lighter: rgba(255, 255, 255, 0.574);
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

body {
    background-color: var(--color-black);
    color: var(--color-light);
}

h1 {
    font-size: 7vw;
    color: var(--color-accent);
    font-weight: lighter;
    letter-spacing: 0.3em;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0);
}
h2 {
    font-size: 3em;
    color: var(--color-primary);
    letter-spacing: 0.15em;
    font-weight: lighter;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 1.2em;
    color: var(--color-primary);
    letter-spacing: 0.15em;
    font-weight: lighter;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    text-align: justify;
    line-height: 1.5em;
    color: var(--color-light);
}
.video-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit:cover;
}

#bloodstockVideo {
    object-fit:cover;
    position: fixed;
    opacity:0;
}

.cover-content {
    padding: 70px 50px 50px 50px;
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cover-content-bottom {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 600px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.cover-content-bottom p {
    text-align: center;
    font-size: 1.6em;
}


/* STORY */
.story-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding: 50px 5px 50px 5px;
    position: relative; 
    z-index: 10;
    background-color: var(--color-black-90);
}
.story-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 1600px;
}
.story-content,
.story-image {
    width: 45%;
    height: 100%;
}
.story-content {
    padding: 0px 50px;
}
.story-image {
    background-image: url("../Media/Red-and-Daniel.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* QUOTE */

#quoteSection {
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}
/* .quote-content {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 600px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.quote-content p {
    text-align: center;
    font-size: 1.6em;
    color: var(--color-light);
} */

/* HORSES */
.horses-section {
    width: 100%;
    height: 600px;
    padding: 50px 5px 50px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    z-index: 10;
    background-color: var(--color-black-90);
}
button {
    background-color: rgba(0,0,0,0);
    border: none;
    color: var(--color-primary);
    font-size: 3em;
    cursor: pointer;
}

button:disabled {
    color: var(--color-black);
}
.horses-section h2 {
    text-align: center;
}
#slideshow-container{
    height: 500px;
    width: 100%;
    max-width: 1400px;
    padding: 5px 5px 50px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.horse-card {
    height: 400px;
    width: 25%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-black);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(170, 166, 162, 0.15);
}
.horse-card-img-container {
    height: 250px;
    width: 100%;
}
.cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.horse-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horse-card-content p {
    font-size: 0.9em;
    width: 80%;
    text-align: center;

}
.horse-card.card-4,
.horse-card.card-5,
.horse-card.card-6 {
    display: none;
}

/* FOOTER */
/* #spacer {
    margin-top: 95vh;
    background-color: var(--color-black);
    height: calc(100vh - 600px);
    position: relative;
    z-index: 10;
} */
footer {
    position: relative;
    z-index: 10;
    height: 100vh;
    width: 100%;
    overflow:hidden;
    background-color: var(--color-black);
}
#footerBackground {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}
.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}
.footer-top h2 {
    color: var(--color-accent);
    font-size: 4em;
    letter-spacing: 0.08em;
}

.footer-bottom {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 60%;
    padding: 20px;
}
.footer-bottom p {
    font-size: 0.8em;
    text-align: center;
    font-weight: lighter;
    opacity: 0.5;
}


/* SOUND SWITCH */

#switch-container {
    margin: 1rem;
    position: fixed;
    top:5px;
    right: 5px;
    z-index: 20;
}

#sound-off-icon,
#sound-on-icon {
    z-index: 0;
    position: absolute;
}

#sound-off-icon {
    top: 9px;
    right: 7px;
}

#sound-on-icon {
    top: .5rem;
    left: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.switch:before input { 
    content: "switch";
    opacity: 0;
    width: 0;
    height: 0;
}

input:before {
    content: "input";
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-dark);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--color-primary);
}

input:checked + .slider:before {
    content: "";
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* give the button rounded edges */
  /* for square edges, remove these values */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* -----
SVG Icons - svgicons.sparkk.fr
  ----- */

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: black;
}

.svg-icon circle {
    stroke: black;
    stroke-width: 1;
}